<#@ include file="..\..\..\Config.ttinclude" #>

namespace NCDK.Renderers.Elements
{
    public partial class TextGroupElement
	{
        /// <summary>
        /// Compass-point positions for text element annotation children.
        /// </summary>
<# 
        GenerateEnumBody(
            "Position", 
             new[]
            {
				"NW", "SW", "SE", "NE", "S", "N", "W", "E",
            },
            true
        ); 
#>
		{
		}
	}
}
